*.obj
*.exe
*.dll
*.lib
*.exp
*.bat

*.cudafe1.cpp
*.cudafe1.c
*.cudafe1.gpu
*.fatbin
*.fatbin.c
*.ptx
*.cubin
tmpxft_*


.vscode/

*.log


weights/
data/
build/
output/

*.bat
# session binaries
bpe_train
gpt_train
gpt_chat
gpt_gen
